<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= include_stylesheets :global, :app %>
  <%= include_javascripts :lib, :app %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="main">

  <%= render :partial => "shared/header"%>

  <div id="content">
    <%= yield %>
  </div>

  <%= render :partial => "shared/footer"%>

</div>

</body>
</html>
